---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import DescriptionZeltri from "../components/DescriptionZeltri.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import AboutCROBF from "../components/AboutCROBF.astro";
import Closing from "../components/Closing.astro";
---

<Layout>
  <main class="flex flex-col w-full">
    <Hero />
    <DescriptionZeltri />
    <ProjectsSection />
    <AboutCROBF />
    <Closing />
  </main>
</Layout>
