---
import ChronoLayout from "../../layouts/ChronoLayout.astro";
import ChronoNavbar from "../../components/chrono/ChronoNavbar.astro";
import ChronoHero from "../../components/chrono/ChronoHero.astro";
import ChronoFeatures from "../../components/chrono/ChronoFeatures.astro";
import ChronoSmartRendering from "../../components/chrono/ChronoSmartRendering.astro";
import ChronoInstall from "../../components/chrono/ChronoInstall.astro";
import ChronoConfig from "../../components/chrono/ChronoConfig.astro";
import ChronoArchitecture from "../../components/chrono/ChronoArchitecture.astro";
import ChronoFooter from "../../components/chrono/ChronoFooter.astro";
---

<ChronoLayout>
  <ChronoNavbar />

  <main>
    <ChronoHero />
    <ChronoFeatures />
    <ChronoSmartRendering />
    <ChronoInstall />
    <ChronoConfig />
    <ChronoArchitecture />
  </main>

  <ChronoFooter />
</ChronoLayout>
